.site-header {
  background-color: $section-background--intro;
  color: $font-color--light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.variable-slider {
  margin-bottom: var(--spacing--base);

  @media (min-width: $screen--medium) {
    margin-bottom: 0;
  }
}
