.biology {
  background-color: $section-background--biology;
}

.biology__content {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);

  @media (min-width: $screen--medium) {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
}

.biology__samples {
  position: relative;
}

.biology__sample-text {
  font-style: italic;
  font-variant-numeric: oldstyle-nums;
  font-variation-settings: var(--font-weight--light);
  position: relative;
  text-align: center;
  z-index: 1;
}

.biology__sample-image {
  animation: flotate 25s linear infinite;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

@keyframes flotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
