:root {
  --book--width: 25rem;
  --book--height: 40rem;
  --book-font-size--heading: 2.8rem;
  --book-font-size--weightheading: 8rem;
  --book-font-size--subheading: 2rem;
  --book-font-size--copy: 1.175rem;
}

.book {
  background-color: $background-color--light;
  color: $font-color--base;
  max-width: var(--book--width);
  padding: var(--spacing--medium) var(--spacing--base);
}

.book__heading,
.book__subheading {
  font-variation-settings: var(--font-weight--extra-light);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.book__heading {
  font-size: var(--book-font-size--heading);
  margin-bottom: 0;
}

.book__weightheading {
  display: block;
  font-size: var(--book-font-size--weightheading);
  text-align: center;
}

.book__subheading {
  font-size: var(--book-font-size--subheading);
  margin-bottom: var(--spacing--base);
}

.book__copy {
  font-size: var(--book-font-size--copy);
}
