:root {
  --book--width: 20rem;
  --book--height: 30rem;
  --book-font-size--heading: 2rem;
  --book-font-size--weightheading: 4rem;
  --book-font-size--subheading: 1.5rem;
  --book-font-size--copy: 1.1rem;
}

.book {
  flex-grow: 2;
  height: var(--book--height);
  max-width: var(--book--width);
  perspective: 1500px;
  width: 100%;
}

.book__container {
  animation: bookRotate 20s 5s linear infinite;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
}

[class^="book-face__"]{
  background-color: $background-color--light;
  border: var(--border);
  color: $font-color--base;
  left: 0;
  padding: var(--spacing--medium) var(--spacing--base);
  position: absolute;
  top: 0;
}

.book-face__front,
.book-face__back,
.book-face__left,
.book-face__right {
  height: var(--book--height);
}

.book-face__left,
.book-face__right {
  font-size: var(--book-font-size--subheading);
  letter-spacing: var(--letter-spacing--base);
  text-transform: uppercase;
  writing-mode: sideways-rl;
}

.book-face__front {
  transform: rotateY(0deg) translateZ(calc(var(--book--width) / 8));
  width: var(--book--width);
}

.book-face__back {
  transform: rotateY(180deg) translateZ(calc(var(--book--width) / 8));
  width: var(--book--width);
}

.book-face__left {
  transform: rotateY(-90deg) translateZ(calc(var(--book--width) / 8));
  width: calc(var(--book--width) / 4);
}

.book-face__right {
  transform: rotateY(90deg) translateZ(calc(var(--book--width) * .875));
  width: calc(var(--book--width) / 4);
}

.book__heading,
.book__subheading {
  font-variation-settings: var(--font-weight--extra-light);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.book__heading {
  font-size: var(--book-font-size--heading);
  margin-bottom: 0;

  @media (min-width: $screen--medium) {
    font-size: calc(1.5 * var(--book-font-size--heading));
  }
}

.book__weightheading {
  display: block;
  font-size: var(--book-font-size--weightheading);
  text-align: center;

  @media (min-width: $screen--medium) {
    font-size: calc(1.75 * var(--book-font-size--weightheading));
  }
}

.book__subheading {
  font-size: var(--book-font-size--subheading);
  margin-bottom: var(--spacing--base);

  @media (min-width: $screen--medium) {
    font-size: calc(1.2 * var(--book-font-size--subheading));
  }
}

.book__copy {
  font-size: var(--book-font-size--copy);
}
