:root {
  --book--width: 25em;
  --book--height: 40em;
  --book-font-size--heading: 2.5em;
  --book-font-size--weightheading: 8em;
  --book-font-size--subheading: 1.8em;
  --book-font-size--copy: 1.175em;
}

.book {
  background-color: $background-color--light;
  color: $font-color--base;
  min-height: var(--book--height);
  max-width: var(--book--width);
  padding: var(--spacing--base) var(--spacing--small);

  @media (min-width: $screen--medium) {
    min-height: var(--book--height);
    padding: var(--spacing--medium) var(--spacing--base);
  }
}

.book__heading,
.book__subheading {
  font-weight: var(--font-weight--extra-light);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.book__heading {
  font-size: var(--book-font-size--heading);

  @media (min-width: $screen--medium) {
    font-size: calc((var(--book-font-size--heading) * 1.40));
  }
}

.book__weightheading {
  display: block;
  font-size: var(--book-font-size--weightheading);
  text-align: center;
}

.book__subheading {
  font-size: var(--book-font-size--subheading);
  margin-bottom: var(--spacing--base);

  @media (min-width: $screen--medium) {
    font-size: calc((var(--book-font-size--subheading) * 1.45));
  }
}

.book__copy {
  font-size: var(--book-font-size--copy);

  @media (min-width: $screen--medium) {
    font-size: calc((var(--book-font-size--copy) * 1.15));
  }
}
