.drink-me__text {
  color: $accent-red;
  font-family: $font-family--italic;
  font-size: 5rem;
  font-style: italic;
  font-variation-settings: $font-weight--black;
  line-height: 1;
  margin-bottom: $space--x-large;
  text-align: center;

  @include breakpoint(large_up) {
    font-size: 9rem;
    line-height: 0.75;
  }
}

.drink-me__controls-colors {
  display: flex;
  justify-content: space-between;

  & .button--round-small:nth-child(1) {
    background-color: $accent-red;
  }

  & .button--round-small:nth-child(2) {
    background-color: $accent-yellow;
  }

  & .button--round-small:nth-child(3) {
    background-color: $accent-blue;
  }

  & .button--round-small:nth-child(4) {
    background-color: $accent-brown;
  }

  & .button--round-small:nth-child(5) {
    background-color: $neutral-white;
  }

  & .button--round-small:nth-child(6) {
    background-color: $neutral-black;
  }

  & .button--round-small:nth-child(7) {
    background-color: $accent-green;
  }

  & .button--round-small:nth-child(8) {
    background-color: $neutral-white;
  }
}

.drink-me__group {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium_up) {
    flex-direction: row;
  }
}

.drink-me__group-column {

  &:nth-child(3) {
    border-top: $border;
  }

  @include breakpoint(medium_up) {
    max-width: 250px;
  }
}

.drink-me__group-divider {
  width: 1px;
  background-color: $neutral-black;
}
