.example {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-around;
  padding: var(--spacing--base);
  position: relative;
  width: 100%;

  @media (min-width: $screen--medium) {
    flex-direction: row;
  }
}

.example__navigation {
  font-size: 1em;
  text-transform: lowercase;
  font-style: italic;
  padding: var(--spacing--base) 0;
  text-align: center;
}

.example__body {
  padding: var(--spacing--base) 0;
}

.example__title {
  display: block;
  font-weight: var(--font-weight--bold);
  margin-top: var(--spacing--base);
  text-align: right;
  letter-spacing: var(--letter-spacing--base);
  text-transform: uppercase;
}
