:root {
  --font-size--newspaper-title: 1.75rem;
}

.newspaper {
  background-color: $section-background--newspaper;
}

.newspaper__content {
  border-bottom: var(--border);
  margin: 0 auto;

  @media (min-width: $screen--medium) {
    background-image: url('../images/newspaper.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-gap: 0 1rem;
    grid-template: 1fr 1fr 2fr / auto 2fr 15rem auto;
    grid-template-areas:
      ". . . ."
      ". title title ."
      ". photo article .";
    height: 35em;
    justify-items: center;
    max-width: 50em;
    padding-left: var(--spacing--base);
    padding-right: var(--spacing--medium);
  }
}
.newspaper__title,
.newspaper__article-headline,
.newspaper__article-byline {
  text-align: center;
}

.newspaper__title {
  font-size: var(--font-size--newspaper-title);
  font-variation-settings: var(--font-weight--bold);
  margin-bottom: var(--spacing--base);
  margin-top: var(--spacing--base);

  @media (min-width: $screen--medium) {
    align-self: top;
    font-size: calc(var(--font-size--newspaper-title) * 1.75);
    grid-area: title;
    margin-bottom: 0;
  }
}

.newspaper__photo {
  background-position: center;
  background-size: cover;
  max-width: 25rem;
  min-height: 20rem;
  min-width: 100%;

  @media (min-width: $screen--medium) {
    align-self: end;
    background-size: contain;
    grid-area: photo;
    height: 100%;
    min-height: 15rem;
    min-width: 25rem;
  }
}

.newspaper__article {
  margin-bottom: var(--spacing--base);

  @media (min-width: $screen--medium) {
    align-self: end;
    grid-area: article;
    margin-bottom: var(--spacing--small);
  }
}

.newspaper__article-headline {
  font-size: calc(var(--font-size--newspaper-title) * .8);
  font-variation-settings: var(--font-weight--extra-bold);
  margin-bottom: var(--spacing--small);
  margin-top: var(--spacing--base);
  font-style: italic;
}

.newspaper__article-byline {
  font-variation-settings: var(--font-weight--semi-bold);
  margin-bottom: var(--spacing--small);
  margin-top: var(--spacing--small);

  span {
    text-transform: uppercase;
  }
}

.newspaper__article-body {
  font-size: calc(var(--font-size--newspaper-title) * .5);
  grid-area: article;
  line-height: 1.5;
  margin-bottom: var(--spacing--small);
  margin-top: var(--spacing--base);
  text-align: justify;
}
