.pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1vw;
  width: 98vw;

  @media (min-width: $screen--medium) {
    margin: 0 auto;
    width: 80vw;
  }

  @media (min-width: $screen--schmedium) {
    width: 90vw;
  }
}

.page {
  border: var(--border);
  flex: 1 1 100%;
  height: 98vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding: var(--spacing--medium) var(--spacing--base);

  @media (min-width: $screen--schmedium) {
    flex: 1 1 50%;
    padding-left: var(--spacing--medium);
    padding-right: var(--spacing--medium);
  }
}

.page--flex {
  display: flex;
  flex-direction: column;
}

.page__header,
.page__body,
.page__footer {
  width: 100%;
}

.page__header-meta,
.page__footer-meta {
  font-size: calc(var(--font-size--page) * .85);
}

.page__header-meta {
  @media (min-width: $screen--medium) {
    font-size: calc(var(--font-size--page) * 1.1);
  }
}

.page__header-meta {
  display: block;
  font-variant-caps: all-small-caps;
  font-variation-settings: var(--font-weight--semi-bold);
  letter-spacing: var(--letter-spacing--base);
  margin-bottom: var(--spacing--base);
}

.page__header-heading {
  font-size: calc(var(--font-size--page) * 1.5);
  font-variation-settings: var(--font-weight--normal);
  margin-bottom: var(--spacing--base);

  @media (min-width: $screen--medium) {
    font-size: calc(var(--font-size--page) * 1.75);
  }
}

.page__header-subheading {
  font-size: calc(var(--font-size--page) * 1.2);
  font-variation-settings: var(--font-weight--semi-bold);
}

.page__body {
  flex-basis: 100%;
  flex-grow: 2;
  font-size: calc(var(--font-size--page) * .875);
  margin: var(--spacing--base) 0;
}

.page__body-callout {
  font-size: calc(var(--font-size--page) * 1);
  font-variation-settings: var(--font-weight--normal);
  margin-bottom: var(--spacing--medium);
  text-align: center;
}

.page__body-column {
  @media (min-width: $screen--medium) {
    columns: 2;
  }
}

.page__footer {
  align-self: flex-end;
}

.page__footer-meta {
  display: block;
  font-style: italic;
  margin-top: var(--spacing--base);
}

.page__weightheading {
  display: block;
  font-size: 8em;
  text-align: center;
}
