.page {
  font-size: var(--font-size--page);
  padding: var(--spacing--medium) var(--spacing--base);

  &:last-child .page__footer {
    text-align: right;
  }

  @media (min-width: $screen--medium) {
    padding-left: var(--spacing--medium);
    padding-right: var(--spacing--medium);
  }

  @media (min-width: $screen--large) {
    &:nth-child(1) {
      box-shadow: inset -.3em 0 .3em transparentize($ink, .9);
    }

    &:nth-child(2) {
      box-shadow: inset .3em 0 .3em transparentize($ink, .9);
    }
  }
}

.page--flex {
  display: flex;
  flex-direction: column;
}

.page__header,
.page__body,
.page__footer {
  width: 100%;
}

.page__header-meta,
.page__footer-meta {
  font-size: calc(var(--font-size--page) * .85);
}


.page__header {
  text-align: center;
}

.page__header-meta {
  display: block;
  font-variant-caps: all-small-caps;
  font-variation-settings: var(--font-weight--semi-bold);
  letter-spacing: var(--letter-spacing--base);
  margin-bottom: var(--spacing--base);
}

.page__header-heading {
  font-size: calc(var(--font-size--page) * 1.5);
  font-variation-settings: var(--font-weight--normal);
  margin-bottom: var(--spacing--base);
}

.page__header-subheading {
  font-size: calc(var(--font-size--page) * 1.2);
  font-variation-settings: var(--font-weight--semi-bold);
}

.page__body {
  flex-basis: 100%;
  font-size: calc(var(--font-size--page) * .875);
  margin: var(--spacing--base) 0;
}

.page__body-callout {
  font-size: calc(var(--font-size--page) * 1);
  font-variation-settings: var(--font-weight--normal);
  margin-bottom: var(--spacing--medium);
  text-align: center;
}

.page__body-column {
  @media (min-width: $screen--medium) {
    columns: 2;
  }
}

.page__footer {
  align-self: flex-end;
}

.page__footer-meta {
  display: block;
  font-style: italic;
  margin-top: var(--spacing--base);
}

.page__weightheading {
  display: block;
  font-size: 8em;
  text-align: center;
}
