.slider {
  margin-bottom: var(--spacing--base);

  @media (min-width: $screen--medium) {
    margin-bottom: 0;
  }
}

.slider-container {
  margin-bottom: var(--spacing--large);
  position: relative;

  &::before {
    bottom: -35px;
    content: "Extra Light";
    font-size: 16px;
    font-style: italic;
    left: 0;
    position: absolute;
    text-align: right;
  }

  &::after {
    bottom: -35px;
    content: "Black";
    font-size: 16px;
    font-style: italic;
    position: absolute;
    right: 0;
    text-align: right;
  }
}

.slider-container--intro {
  margin: var(--spacing--base) 0 var(--spacing--large);
  position: relative;

  @media (min-width: $screen--medium) {
    margin: 0;
    width: 40vh;

    // &::before {
    //   color: $paper;
    //   content: "Black";
    //   display: block;
    //   font-size: 16px;
    //   font-style: italic;
    //   left: 30%;
    //   position: absolute;
    //   text-align: right;
    //   top: 0;
    //   width: 80px;
    // }

    // &::after {
    //   bottom: 0;
    //   color: $paper;
    //   content: "Extra Light";
    //   display: block;
    //   font-size: 16px;
    //   font-style: italic;
    //   left: 30%;
    //   position: absolute;
    //   text-align: right;
    //   width: 80px;
    // }
  }

  @media (min-width: $screen--large) {
    width: 50vh;
  }
}

.slider-container__text {
  color: darken($paper-almond, 70%);
  display: block;
  font-size: 18px;
  font-weight: 480;
  text-align: center;
}

.slider--book {
  @media (min-width: $screen--medium) {
    position: absolute;
    top: 45%;
    transform: rotate(-90deg);
  }

  &[type=range] {

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: $input-range--thumb-background;
      border-radius: 100%;
      border: none;
      cursor: pointer;
      height: 20px;
      margin-top: -10px;
      width: 20px;
    }

    &::-moz-range-thumb {
      background: $input-range--thumb-background;
      border-radius: 100%;
      border: none;
      cursor: pointer;
      height: 20px;
      width: 20px;
    }

    &::-ms-thumb {
      background: $input-range--thumb-background;
      border-radius: 100%;
      border: none;
      cursor: pointer;
      height: 20px;
      width: 20px;
    }

    &::-webkit-slider-runnable-track {
      background: $paper;
      border-radius: 0;
      border: none;
      box-shadow: none;
      cursor: pointer;
      height: $input-range--track-height;
      width: 100%;
    }

    &:focus::-webkit-slider-runnable-track {
      background: $paper;
    }

    &::-moz-range-track {
      background: $paper;
      border-radius: 0;
      border: none;
      box-shadow: none;
      cursor: pointer;
      height: $input-range--track-height;
      width: 100%;
    }

    &::-ms-track {
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
      cursor: pointer;
      height: $input-range--track-height;
      width: 100%;
    }
    &::-ms-fill-lower {
      background: $paper;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }
    &:focus::-ms-fill-lower {
      background: $paper;
    }
    &::-ms-fill-upper {
      background: $paper;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }
    &:focus::-ms-fill-upper {
      background: $paper;
    }
  }
}

[class^="slider--sample-"],
.slider--page {
  margin: var(--spacing--base) 0 var(--spacing--medium);
  width: 100%;
}
