.type-sample {
  background-image: url('../images/graphics/brackets.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $font-color--base;
  font-size: 12rem;
  margin: 0;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
