.weight-row {
  display: flex;

  &:nth-child(2) .weight-row__characters {
    font-size: 17.5rem;
    font-variation-settings: $font-weight--black;
    margin-top: -6.5rem;
  }

  &:nth-child(3) .weight-row__characters {
    font-size: 9rem;
    font-variation-settings: $font-weight--bold;
    margin-top: -6.5rem;
  }

  &:nth-child(4) .weight-row__characters {
    font-size: 7rem;
    font-variation-settings: $font-weight--semi-bold;
    margin-top: -2.5rem;
  }

  &:nth-child(5) .weight-row__characters {
    font-size: 3.6rem;
    font-variation-settings: $font-weight--medium;
    margin-top: -1.5rem;
  }

  &:nth-child(6) .weight-row__characters {
    font-size: 2.6rem;
  }

  &:nth-child(7) .weight-row__characters {
    font-size: 1.6rem;
    font-variation-settings: $font-weight--light;
  }

  &:nth-child(8) .weight-row__characters {
    font-size: 1.1rem;
    font-variation-settings: $font-weight--extra-light;
    margin-top: 1rem;
  }
}

.weight-row__weight {
  align-self: center;
  color: $font-color--base;
  flex-basis: 50px;
  font-size: 16px;
  font-variation-settings: $font-weight--normal;
  line-height: 1.3;
  margin: 0;
}

.weight-row__characters {
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  text-align: center;
}
