.weight-letters {
  display: flex;
  justify-content: space-between;
}

.weight-letters__letter {
  -webkit-text-stroke: 1px $neutral-black;
  color: $neutral-gray-85;
  display: inline-block;
  font-size: 3.5rem;
  line-height: 1;
  margin: -25px 0 0 0;

  @include breakpoint(large_up) {
    font-size: 6.5rem;
    line-height: .75;
  }

  &:nth-child(6) {
    background: linear-gradient(90deg, $neutral-gray-85 0%, $accent-pink 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  &:nth-child(7),
  &:nth-child(8) {
    color: $accent-pink;
  }
}
