// Base Neutrals
$neutral-black: #262626;
$neutral-gray-25: #404040;
$neutral-gray-35: #595959;
$neutral-gray-45: #737373;
$neutral-gray-55: #8c8c8c;
$neutral-gray-75: #bfbfbf;
$neutral-gray-85: #d9d9d9;
$neutral-gray-90: #e5e5e5;
$neutral-gray-95: #404040;
$neutral-white: #f2f2f2;
$warm-gray: #ddd9d6;

// Accents
$accent-blue: #00aeef;
$accent-brown: #d7b089;
$accent-green: #3eb549;
$accent-pale-blue: #dde8f2;
$accent-pink: #fec0f0;
$accent-red: #eb0000;
$accent-yellow: #ffff00;
