// Font Family
$font-family--base: "Crimson Pro Roman", serif;
$font-family--italic: "Crimson Pro Italic", serif;

// Font Weights
$font-weight--extra-light: 'wght' 200;
$font-weight--light: 'wght' 300;
$font-weight--normal: 'wght' 400;
$font-weight--medium: 'wght' 500;
$font-weight--semi-bold: 'wght' 600;
$font-weight--bold: 'wght' 700;
$font-weight--extra-bold: 'wght' 800;
$font-weight--black: 'wght' 900;
