.page-section {
  @include margin($spacing-medium null);
}

.page-section__meta-header {
  font-weight: $font-weight-semibold;
  letter-spacing: 0.05em;
  margin-bottom: $spacing-base;
  text-align: center;
  text-transform: uppercase;
}

.page-section__meta-footer {
  font-style: italic;
  font-weight: $font-weight-regular;
  margin-top: $spacing-base;
  text-transform: lowercase;
}

.page-section__wrapper {
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  padding: $spacing-medium;

  &:last-child .page-section__meta-footer {
    align-self: flex-end;
  }

}
