.u-background-black {
  background-color: $black;
}

.u-background-pale-blue {
  background-color: $pale-blue;
}

.u-background-pale-dusk {
  background-color: $pale-dusk;
}

.u-background-white {
  background-color: $white;
}
