.u-background-black {
  background-color: $black;
}

.u-background-pale-dusk {
  background-color: $pale-dusk;
}

.u-background-pale-blue {
  background-color: $pale-blue;
}

.u-background-paper-blue {
  background-color: $paper-blue;
}

.u-background-paper-peach {
  background-color: $paper-peach;
}

.u-background-paper-purple {
  background-color: $paper-purple;
}

.u-background-paper-yellow {
  background-color: $paper-yellow;
}

.u-background-white {
  background-color: $white;
}
