.u-text--center {
  text-align: center;
}

.u-text--italic {
  font-style: italic;
}

.u-text--weight-black {
  font-weight: $font-weight-black;
}

.u-text--weight-semibold {
  font-weight: $font-weight-semibold;
}
