@font-face {
  font-family: "Crimson Pro Regular";
  src: url('../fonts/crimsonpro-roman-vf.ttf')  format('truetype');
}

@font-face {
  font-family: "Crimson Pro Italic";
  src: url('../fonts/crimsonpro-roman-vf.ttf')  format('truetype');
}
