// Colors
$ink: #222222;
$paper: #ffffff;
$paper-almond: #f2d9c6;
$paper-mabel: #c6f2f2;

// Background Colors
$background-color--dark: $ink;
$background-color--light: $paper;
$background-color--viewport: $paper;

// Font Colors
$font-color--base: $ink;
$font-color--light: $paper;

// Screen Sizes
$screen--medium: 38.75em;

/* Base Variables for Site Root
-------------------------------*/
:root {
  // Typography
  --font-family: "Crimson Pro Regular", serif;
  --font-family--italic: "Crimson Pro Italic", serif;

  // Font Weights
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;

  // Font Sizes
  --font-size--page: 1.1em;

  // Letter Spacing
  --letter-spacing--base: .05em;

  // Line Heights
  --line-height: 1.5;
  --line-height--heading: 1.2;

  // Borders
  --border-width: 1px;
  --border: var(--border-width) solid currentColor;

  // Spacing
  --spacing--base: 1.5rem;
  --spacing--small: 0.75rem;
  --spacing--medium: 3rem;
  --spacing--large: 6rem;
}

// Section Variables
// Section Backgrounds
$section-background--intro: $ink;
$section-background--design: $paper-almond;
$section-background--language-support: $paper-mabel;
