@font-face {
  font-family: "Crimson Pro Regular";
  src: url("../fonts/crimsonpro-roman-vf.ttf") format("truetype"); }
@font-face {
  font-family: "Crimson Pro Italic";
  src: url("../fonts/crimsonpro-roman-vf.ttf") format("truetype"); }
/* Base Variables for Site Root
-------------------------------*/
:root {
  --font-family: "Crimson Pro Regular", serif;
  --font-family--italic: "Crimson Pro Italic", serif;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;
  --font-size--page: 1.1em;
  --letter-spacing--base: .05em;
  --line-height: 1.5;
  --line-height--heading: 1.2;
  --border-width: 1px;
  --border: var(--border-width) solid currentColor;
  --spacing--base: 1.5rem;
  --spacing--small: 0.75rem;
  --spacing--medium: 3rem;
  --spacing--large: 6rem; }

input {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem; }

html {
  background-color: var(--background-color--viewport);
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  color: var(--font-color--base);
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height); }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small); }

p {
  margin: 0 0 var(--spacing--small); }

strong {
  font-weight: var(--font-weight--bold); }

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing--medium) 0; }

.biology {
  background-color: #f8e9d3; }

.biology__content {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(2, 1fr); }

.biology__samples {
  position: relative; }

.biology__sample-text {
  font-style: italic;
  font-variant-numeric: oldstyle-nums;
  font-weight: var(--font-weight--light);
  text-align: center; }

.biology__sample-image {
  display: block;
  margin: 0 auto;
  animation: flotate 25s linear infinite; }

@keyframes flotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
:root {
  --book--width: 25em;
  --book-font-size--heading: 2.5em;
  --book-font-size--weightheading: 8em;
  --book-font-size--subheading: 1.8em;
  --book-font-size--copy: 1.175em; }

.book {
  background-color: #ffffff;
  color: #222222;
  max-width: var(--book--width);
  padding: var(--spacing--base) var(--spacing--small); }
  @media (min-width: 38.75em) {
    .book {
      padding: var(--spacing--medium) var(--spacing--base); } }

.book__heading,
.book__subheading {
  font-weight: var(--font-weight--extra-light);
  margin: 0;
  text-transform: uppercase;
  text-align: center; }

.book__heading {
  font-size: var(--book-font-size--heading); }
  @media (min-width: 38.75em) {
    .book__heading {
      font-size: calc((var(--book-font-size--heading) * 1.40)); } }

.book__weightheading {
  display: block;
  font-size: var(--book-font-size--weightheading);
  text-align: center; }

.book__subheading {
  font-size: var(--book-font-size--subheading);
  margin-bottom: var(--spacing--base); }
  @media (min-width: 38.75em) {
    .book__subheading {
      font-size: calc((var(--book-font-size--subheading) * 1.45)); } }

.book__copy {
  font-size: var(--book-font-size--copy); }
  @media (min-width: 38.75em) {
    .book__copy {
      font-size: calc((var(--book-font-size--copy) * 1.15)); } }

.dictionary {
  background-color: #cbd5db; }

.dictionary__entry {
  background-image: linear-gradient(180deg, #ffffff 80%, rgba(0, 0, 0, 0) 80%), url("../images/dictionary-paper-rip.png");
  background-position: top center, bottom center;
  background-repeat: no-repeat;
  background-size: cover, 100%;
  font-size: 1.125em;
  max-width: 25em;
  padding: var(--spacing--base) var(--spacing--base) var(--spacing--medium); }

.dictionary__entry-title {
  font-weight: var(--font-weight--black); }
  .dictionary__entry-title span {
    font-weight: var(--font-weight--normal); }

.example {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-around;
  padding: var(--spacing--base);
  position: relative;
  width: 100%; }
  @media (min-width: 38.75em) {
    .example {
      flex-direction: row; } }

.example__navigation {
  font-size: 1em;
  text-transform: lowercase;
  font-style: italic;
  padding: var(--spacing--base) 0;
  text-align: center; }

.example__body {
  padding: var(--spacing--base) 0; }

.example__title {
  display: block;
  font-weight: var(--font-weight--bold);
  margin-top: var(--spacing--base);
  text-align: right;
  letter-spacing: var(--letter-spacing--base);
  text-transform: uppercase; }

.manuscript {
  background-color: #f4e7bd; }

:root {
  --font-size--newspaper-title: 1.75em; }

.newspaper {
  background-color: #ffffff; }

.newspaper__content {
  border-bottom: var(--border);
  margin: 0 auto; }
  @media (min-width: 38.75em) {
    .newspaper__content {
      background-image: url("../images/newspaper.png");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      display: grid;
      grid-gap: 1em;
      grid-template: auto 1fr 2fr / auto 2fr 1fr auto;
      grid-template-areas: ". . . ." ". title title ." ". photo article .";
      height: 35em;
      justify-items: center;
      max-width: 50em;
      padding-left: var(--spacing--base);
      padding-right: var(--spacing--medium); } }

.newspaper__title,
.newspaper__article-headline,
.newspaper__article-byline {
  text-align: center; }

.newspaper__title {
  font-size: var(--font-size--newspaper-title);
  font-weight: var(--font-weight--bold);
  margin-bottom: var(--spacing--base);
  margin-top: var(--spacing--base); }
  @media (min-width: 38.75em) {
    .newspaper__title {
      align-self: end;
      font-size: calc(var(--font-size--newspaper-title) * 1.75);
      grid-area: title;
      margin-bottom: 0; } }

@media (min-width: 38.75em) {
  .newspaper__photo {
    align-self: end;
    grid-area: photo; } }

.newspaper__article {
  margin-bottom: var(--spacing--base); }
  @media (min-width: 38.75em) {
    .newspaper__article {
      align-self: end;
      grid-area: article;
      margin-bottom: 0; } }

.newspaper__article-headline {
  font-size: calc(var(--font-size--newspaper-title) * .8);
  font-weight: var(--font-weight--extra-bold);
  margin-bottom: var(--spacing--small);
  margin-top: var(--spacing--base);
  font-style: italic; }

.newspaper__article-byline {
  font-weight: var(--font-weight--semi-bold);
  margin-bottom: var(--spacing--small);
  margin-top: var(--spacing--small); }
  .newspaper__article-byline span {
    text-transform: uppercase; }

.newspaper__article-body {
  grid-area: article;
  line-height: 1.5;
  margin-bottom: var(--spacing--small);
  margin-top: var(--spacing--base);
  text-align: justify; }

.page {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size--page);
  padding: var(--spacing--base) var(--spacing--small); }
  .page:last-child .page__footer {
    text-align: right; }
  @media (min-width: 38.75em) {
    .page {
      padding: var(--spacing--base) var(--spacing--base); } }

.page__header,
.page__body,
.page__footer {
  width: 100%; }

.page__header-meta,
.page__footer-meta {
  font-size: calc(var(--font-size--page) * .85); }

.page__header {
  text-align: center; }

.page__header-meta {
  display: block;
  font-variant-caps: all-small-caps;
  font-weight: var(--font-weight--semi-bold);
  letter-spacing: var(--letter-spacing--base);
  margin-bottom: var(--spacing--base); }

.page__header-heading {
  font-size: calc(var(--font-size--page) * 1.5);
  font-weight: var(--font-weight--normal);
  margin-bottom: var(--spacing--base); }
  @media (min-width: 38.75em) {
    .page__header-heading {
      font-size: calc(var(--font-size--page) * 1.75); } }

.page__header-subheading {
  font-size: calc(var(--font-size--page) * 1.2);
  font-weight: var(--font-weight--semi-bold); }
  @media (min-width: 38.75em) {
    .page__header-subheading {
      font-size: calc(var(--font-size--page) * 1.45); } }

.page__body {
  font-size: calc(var(--font-size--page) * .85);
  flex-basis: 100%;
  margin: var(--spacing--base) 0; }

.page__body-callout {
  font-size: calc(var(--font-size--page) * 1);
  font-weight: var(--font-weight--normal);
  margin-bottom: var(--spacing--medium);
  text-align: center; }

@media (min-width: 38.75em) {
  .page__body-column {
    columns: 2; } }

.page__footer {
  align-self: flex-end; }

.page__footer-meta {
  display: block;
  font-style: italic;
  margin-top: var(--spacing--base); }

.page__weightheading {
  display: block;
  font-size: 8em;
  text-align: center; }
  @media (min-width: 38.75em) {
    .page__weightheading {
      font-size: 12em; } }

.playground {
  background-color: #c3bae3; }

.site-header {
  background-color: #222222;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.variable-slider {
  margin-bottom: var(--spacing--base); }
  @media (min-width: 38.75em) {
    .variable-slider {
      margin-bottom: 0; } }

.site-navigation {
  background-color: #222222;
  border: var(--border);
  bottom: 0;
  color: #ffffff;
  display: flex;
  justify-content: stretch;
  position: fixed;
  width: 100%;
  z-index: 1; }
  .site-navigation > * {
    flex: 1 1 200px;
    margin: 10px; }

.site-navigation__link {
  color: inherit;
  padding: 0 var(--spacing--small);
  text-align: center;
  text-transform: lowercase; }

.slider--page {
  margin: var(--spacing--base) 0 var(--spacing--medium);
  width: 100%; }

:root {
  --font-size--characters: 1.1em; }

.design {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .design > * {
    flex: 1 1 35rem;
    margin: 10px;
    max-width: 30rem; }

.design--intro,
.design--language {
  border: var(--border); }

.design--intro {
  background-color: #f2d9c6; }

.design__lines {
  font-size: 5em;
  font-weight: var(--font-weight--semi-bold);
  margin: var(--spacing--medium) 0;
  position: relative;
  text-align: center;
  width: 100%; }
  @media (min-width: 38.75em) {
    .design__lines {
      font-size: 7em; } }

.design__lines:first-child .design__line-text::before {
  content: "Cap height";
  font-size: .175em;
  position: absolute;
  left: 0; }

.design__lines:nth-child(2n) .design__line-text::after {
  content: "Counter";
  font-size: .175em;
  position: absolute;
  left: 0; }

.design__line-cap,
.design__line-mean,
.design__line-base {
  border-top: 1px solid #dfa273;
  display: block;
  height: 1px;
  position: absolute;
  width: 100%; }

.design__line-cap {
  top: .510em; }

.design__line-mean {
  top: .65em; }

.design__line-base {
  top: 1.085em; }

.design__characters {
  margin: var(--spacing--medium) 0; }

.design__characters-title {
  font-variant-caps: all-small-caps;
  font-weight: var(--font-weight--medium);
  letter-spacing: var(--letter-spacing--base);
  text-align: center; }

.design__characters-roman,
.design__characters-italic {
  display: block;
  text-align: center; }

.design__characters-roman:nth-of-type(1),
.design__characters-italic:nth-of-type(1) {
  font-size: calc(1.4 * var(--font-size--characters));
  letter-spacing: var(--letter-spacing--base); }
  @media (min-width: 38.75em) {
    .design__characters-roman:nth-of-type(1),
    .design__characters-italic:nth-of-type(1) {
      font-size: calc(2.2 * var(--font-size--characters)); } }

.design__characters-roman:nth-of-type(2),
.design__characters-italic:nth-of-type(2) {
  font-size: calc(1.2 * var(--font-size--characters));
  letter-spacing: var(--letter-spacing--base); }
  @media (min-width: 38.75em) {
    .design__characters-roman:nth-of-type(2),
    .design__characters-italic:nth-of-type(2) {
      font-size: calc(1.8 * var(--font-size--characters)); } }

.design__characters-roman:nth-of-type(3),
.design__characters-italic:nth-of-type(3) {
  font-size: calc(1 / var(--font-size--characters));
  letter-spacing: var(--letter-spacing--base); }
  @media (min-width: 38.75em) {
    .design__characters-roman:nth-of-type(3),
    .design__characters-italic:nth-of-type(3) {
      font-size: calc(1.2 * var(--font-size--characters)); } }

.design__characters-italic {
  font-style: italic; }

.design--language {
  background-color: #c6f2f2; }

.design--language-list {
  list-style: none;
  padding: 0;
  columns: 3; }

.design--language:nth-child(2) h3 {
  text-transform: uppercase;
  font-weight: var(--font-weight--medium); }

.design__book-title,
.design__book-chapter {
  font-weight: var(--font-weight--medium);
  text-align: center; }

.design__book-title {
  font-size: calc(var(--font-size--page) * 1.2);
  text-transform: uppercase; }
  @media (min-width: 38.75em) {
    .design__book-title {
      font-size: calc(var(--font-size--page) * 1.3); } }

.design__book-chapter {
  font-size: calc(var(--font-size--page) * 1.075); }

.design__book-grafs {
  font-size: .9em;
  margin-top: var(--spacing--large);
  text-align: justify; }
  @media (min-width: 38.75em) {
    .design__book-grafs {
      columns: 2; } }

.introduction {
  padding: var(--spacing--base) var(--spacing--small); }
  @media (min-width: 38.75em) {
    .introduction {
      padding: var(--spacing--medium); } }

/*# sourceMappingURL=main.css.map */
