.example {
  @include padding(1.25em);
}

.example__title {
  @include margin($spacing-large null);
  display: block;
  letter-spacing: .05em;
  font-weight: $font-weight-bold;
  text-align: right;
  text-transform: uppercase;
}

.example__navigation {
  font-style: italic;
  font-weight: $font-weight-regular;
  text-align: center;
}

.example__dictionary {
  @include padding($spacing-base);
  background-color: $white;
}

.example__dictionary-heading {
  font-weight: $font-weight-regular;
}

.example__biology-fig {
  font-size: .85rem;
  font-style: italic;
  font-weight: $font-weight-light;
  position: relative;
  text-align: center;
}

.example__manuscript-selection {
  @include margin(0 auto);
  max-width: 250px;
}

.example__manuscript-heading,
.example__manuscript-prompt {
  font-weight: $font-weight-medium;
  text-transform: lowercase;
}

.example__manuscript-heading {
  font-size: 2rem;
}

.example__manuscript-emphasis {
  color: $paper-yellow-dark;
  font-family: $font-family-italic;
  text-decoration: underline;
}

.example__manuscript-prompt {
  font-size: 1.175rem;
}

.example__manuscript-newprompt {
  font-weight: $font-weight-bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.example__manuscript-sample {
  @include margin($spacing-large null);
  @include padding($spacing-base);
  background-color: $paper-yellow-light;
}

.example__manuscript-sample-heading {
  @include margin(1rem null);
  font-size: .85rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.example__manuscript-message {
  @include padding($spacing-small);
  background-color: $paper-yellow-dark;

  p {
    display: inline;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}
