.example {
  @include padding(1.25em);
}

.example__title {
  @include margin($spacing-large null);
  display: block;
  letter-spacing: .05em;
  font-weight: $font-weight-bold;
  text-align: right;
  text-transform: uppercase;
}

.example__navigation {
  font-style: italic;
  font-weight: $font-weight-regular;
  text-align: center;
}

.example__dictionary {
  @include padding($spacing-base);
  background-color: $white;
}

.example__dictionary-heading {
  font-weight: $font-weight-regular;
}
