.intro {
  background-color: $black;
}

.intro__slider {
  @include margin(0 auto);
  @include padding(1.25em);
  max-width: 780px;

  @media (min-width: $screen-medium) {
    grid-column: 1/2;
  }
}

.intro__book {
  @include margin($spacing-medium auto);
  @include padding(1.25em);
  background-color: $white;
  max-width: $book-content-width;

  @media (min-width: $screen-medium) {
    @include padding($spacing-medium);
    grid-column: 2/3;
  }
}

.intro__heading {
  @include margin(null null 0 null);
  font-size: 2.9rem;
  font-weight: $font-weight-xlight;
  text-align: center;
  text-transform: uppercase;
}

.intro__number-weight {
  display: block;
  font-size: $book-number-size;
  text-align: center;
}

.intro__subheading {
  font-size: 2.1rem;
  font-style: italic;
  font-weight: $font-weight-light;
  text-align: center;
  text-transform: uppercase;
}

.intro__copy {
  font-size: 1.2rem;
  font-weight: $font-weight-regular;
  text-align: justify;
}
