.language-support {
  @include padding(1.25em);
  border-bottom: 1px solid $black;
  border-left: 1px solid $black;
  border-right: 1px solid $black;
}

.language-support__heading {
  font-size: 2rem;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}

.language-support__subheading {
  font-size: 1.25rem;
  font-weight: $font-weight-semibold;
  line-height: $line-height-base;
}

.language-support__copy {
  @include margin(null null $spacing-base null);
  font-size: 1.1rem;
  font-weight: $font-weight-regular;
  line-height: $line-height-medium;
  text-align: justify;
}

.language-support__languages {
  @include margin(null null $spacing-base null);
  display: grid;
  font-size: 1.1rem;
  font-weight: $font-weight-regular;
  grid-template: 1fr 1fr / 1fr 1fr;
  line-height: 1.6rem;
}

.language-support__list:nth-of-type(2n) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.language-suppport__book-author,
.language-suppport__book-title,
.language-suppport__book-chapter {
  display: block;
}

.language-suppport__book-author,
.language-suppport__book-title {
  font-size: 1.6rem;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
}

.language-suppport__book-author {
  @include margin(null null 7.5rem null);
}

.language-suppport__book-title {
  @include margin(null null .45rem null);
}

.language-suppport__book-chapter {
  @include margin(null null 2rem null);
  font-size: 1.2rem;
  font-weight: $font-weight-medium;
}

.language-suppport__book-copy {
  line-height: $line-height-base;
  text-indent: 30px;
}
