.acknowledgements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--spacing--base) 0;

  & > *  {
    flex: 1 1 35rem;
    max-width: 30rem;
  }
}

.acknowledgements__heading {
  font-style: italic;
  font-variation-settings: var(--font-weight--normal);
  margin-bottom: var(--spacing--medium);
  text-align: right;
}

.acknowledgements__section {
  background-color: $paper;
  border: var(--border);
  margin-bottom: var(--spacing--medium);
  padding: var(--spacing--small);

  @media (min-width: $screen--medium) {
    position: relative;

    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(1)::after,
    &:nth-child(2)::after {
      background: inherit;
      border: var(--border);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &:nth-child(1)::before {
      box-shadow: -0.075em 0 0 transparentize($ink, .8);
      left: -3px;
      top: 0;
      z-index: -1;
    }

    &:nth-child(2)::before {
      box-shadow: 0.075em 0 0 transparentize($ink, .8);
      right: -3px;
      top: 0;
      z-index: -1;
    }

    &:nth-child(1)::after {
      box-shadow: -0.075em 0 0 transparentize($ink, .8);
      left: -5px;
      top: -1px;
      z-index: -2;
    }

    &:nth-child(2)::after {
      box-shadow: 0.075em 0 0 transparentize($ink, .8);
      right: -5px;
      top: -1px;
      z-index: -2;
    }
  }

  @media (min-width: $screen--medium) {
    display: grid;
    grid-column-gap: 10px;
    grid-template: repeat(4, auto) / repeat(8, 1fr);
    padding: var(--spacing--base);

    &:nth-child(1) {
      .acknowledgements__section-title {
        align-self: center;
        grid-area: 2 / 1 / 4 / 3;
        justify-self: center;
      }

      .acknowledgements__section-copy:nth-child(3) {
        grid-area: 2 / 4 / 3 / 8;
      }

      .acknowledgements__section-copy:nth-child(4) {
        grid-area: 3 / 3 / 4 / 7;
        margin-top: var(--spacing--base);
      }

      .acknowledgements__section-copy:nth-child(5) {
        align-self: end;
        grid-area: 4 / 5 / 5 / 8;
        margin-top: var(--spacing--base);
        max-width: 17rem;
      }

      .acknowledgements__section-image {
        align-self: center;
        grid-area: 4 / 2 / 5 / 4;
      }
    }

    &:nth-child(2) {
      .acknowledgements__section-title {
        align-self: center;
        grid-area: 2 / 6 / 4 / 8;
        justify-self: center;
      }

      .acknowledgements__section-copy:nth-child(2) {
        align-self: end;
        grid-area: 1 / 2 / 2 / 5;
      }

      .acknowledgements__section-copy:nth-child(3) {
        grid-area: 2 / 3 / 3 / 6;
        margin-top: var(--spacing--base);
      }

      .acknowledgements__section-image {
        align-self: start;
        grid-area: 3 / 2 / 4 / 4;
        margin-top: 0;
      }
    }
  }
}

.acknowledgements__heading {
  @media (min-width: $screen--medium) {
    grid-area: 1 / 3 / 2 / 8;
  }
}

.acknowledgements__section-title {
  font-size: 2.4375rem;

  @media (min-width: $screen--medium) {
    writing-mode: vertical-lr;
  }
}

.acknowledgements__section-copy {
  font-size: .875rem;
}

.acknowledgements__section-image {
  border-radius: 100%;
  display: block;
  margin: var(--spacing--base) auto var(--spacing--small);
}
