:root {
  --font-size--characters: 1.1rem;
}

.design__characters {
  margin: var(--spacing--base) 0;
}

.design__characters-title {
  font-variant-caps: all-small-caps;
  font-variation-settings: var(--font-weight--bold);
  letter-spacing: var(--letter-spacing--base);
  text-align: center;

  @media (min-width: $screen--medium) {
    font-size: 1.25rem;
  }
}

[class^="design__characters-roman"],
[class^="design__characters-italic"] {
  display: block;
  letter-spacing: var(--letter-spacing--base);
  text-align: center;
}

[class^="design__characters-roman"]:nth-of-type(1),
[class^="design__characters-italic"]:nth-of-type(1) {
  font-size: calc(1.1 * var(--font-size--characters));

  @media (min-width: $screen--medium) {
    font-size: calc(1.7 * var(--font-size--characters));
  }
}

[class^="design__characters-roman"]:nth-of-type(2),
[class^="design__characters-italic"]:nth-of-type(2) {
  font-size: var(--font-size--characters);

  @media (min-width: $screen--medium) {
    font-size: calc(1.3 * var(--font-size--characters));
  }
}

[class^="design__characters-roman"]:nth-of-type(3),
[class^="design__characters-italic"]:nth-of-type(3) {
  font-size: calc(.75 * var(--font-size--characters));

  @media (min-width: $screen--medium) {
    font-size: calc(1.1 * var(--font-size--characters));
  }
}

.design__characters-italic {
  font-style: italic;
}

.design--language-list {
  columns: 3;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center;

  li {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    transition: color .5s ease-in-out;

    &:hover {
      color: darken($paper-mabel, 70%);
      outline: 1px solid darken($paper-mabel, 10%);
      text-decoration: none;
    }
  }
}

.design__book-title,
.design__book-byline {
  font-variation-settings: var(--font-weight--medium);
  text-align: center;
}

.design__book-title {
  font-size: calc(var(--font-size--page) * 1.2);
  margin-bottom: var(--spacing--small);
  text-transform: uppercase;
}

.design__book-byline {
  font-style: italic;
}

.design__book-chapter {
  font-size: calc(var(--font-size--page) * 1.075);
  font-variation-settings: var(--font-weight--semi-bold);
  margin-top: var(--spacing--medium);
  text-align: center;
}

.design__book-grafs {
  font-size: calc(var(--font-size--page) / 1.3);
  margin-top: var(--spacing--base);
  text-align: justify;

  @media (min-width: $screen--medium) {
    columns: 2;
  }
}
