:root {
  --font-size--characters: 1.1rem;
}

.design {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--spacing--base) 0;

  @media (min-width: $screen--medium) {
    margin: var(--spacing--large) 0;
  }

  & > *  {
    flex: 1 1 35rem;
    margin: var(--spacing--base) 0;
    max-width: 30rem;

    @media (min-width: $screen--medium) {
      min-height: 40rem;
      max-height: 40rem;
    }
  } 
}

.design--intro,
.design--language {
  border: var(--border);
}

.design--intro {
  background-color: $section-background--design;
  position: relative;

  &:nth-child(1)::before,
  &:nth-child(2)::before,
  &:nth-child(1)::after,
  &:nth-child(2)::after {
    background: inherit;
    border: var(--border);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &:nth-child(1)::before {
    box-shadow: -0.075em 0 0 transparentize($ink, .8);
    left: -3px;
    top: 0;
    z-index: -1;
  }

  &:nth-child(2)::before {
    box-shadow: 0.075em 0 0 transparentize($ink, .8);
    right: -3px;
    top: 0;
    z-index: -1;
  }

  &:nth-child(1)::after {
    box-shadow: -0.075em 0 0 transparentize($ink, .8);
    left: -5px;
    top: -1px;
    z-index: -2;
  }

  &:nth-child(2)::after {
    box-shadow: 0.075em 0 0 transparentize($ink, .8);
    right: -5px;
    top: -1px;
    z-index: -2;
  }
}

.design__lines {
  font-size: 4rem;
  font-variation-settings: var(--font-weight--semi-bold);
  margin: var(--spacing--medium) 0;
  position: relative;
  text-align: center;
  width: 100%;

  @media (min-width: $screen--medium) {
    font-size: 5rem;
  }
}

.design__lines:nth-child(1) {
  .design__line-text::before {
    content: "Cap height";
    font-size: 1rem;
    position: absolute;
    left: 0;
  }
}

.design__lines:nth-child(2) {
  .design__line-text::before {
    content: "Counter";
    font-size: 1rem;
    position: absolute;
    left: 0;
  }
}

.design__line-cap,
.design__line-mean,
.design__line-base {
  border-top: 1px solid darken($paper-almond, 20%);
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}

.design__line-cap {
  top: .510em;
}

.design__line-mean {
  top: .65em;
}

.design__line-base {
  top: 1.085em;
}

.design__characters {
  margin: var(--spacing--base) 0;
}

.design__characters-title {
  font-variant-caps: all-small-caps;
  font-variation-settings: var(--font-weight--medium);
  letter-spacing: var(--letter-spacing--base);
  text-align: center;
}

[class^="design__characters-roman"],
[class^="design__characters-italic"] {
  display: block;
  letter-spacing: var(--letter-spacing--base);
  text-align: center;
}

[class^="design__characters-roman"]:nth-of-type(1),
[class^="design__characters-italic"]:nth-of-type(1) {
  font-size: calc(1.1 * var(--font-size--characters));

  @media (min-width: $screen--medium) {
    font-size: calc(1.7 * var(--font-size--characters));
  }
}

[class^="design__characters-roman"]:nth-of-type(2),
[class^="design__characters-italic"]:nth-of-type(2) {
  font-size: var(--font-size--characters);

  @media (min-width: $screen--medium) {
    font-size: calc(1.3 * var(--font-size--characters));
  }
}

[class^="design__characters-roman"]:nth-of-type(3),
[class^="design__characters-italic"]:nth-of-type(3) {
  font-size: calc(.75 * var(--font-size--characters));

  @media (min-width: $screen--medium) {
    font-size: calc(1.1 * var(--font-size--characters));
  }
}

.design__characters-italic {
  font-style: italic;
}

.design--language {
  background-color: $section-background--language-support;
  position: relative;

  &:nth-child(1)::before,
  &:nth-child(2)::before,
  &:nth-child(1)::after,
  &:nth-child(2)::after {
    background: inherit;
    border: var(--border);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &:nth-child(1)::before {
    box-shadow: -0.075em 0 0 transparentize($ink, .8);
    left: -3px;
    top: 0;
    z-index: -1;
  }

  &:nth-child(2)::before {
    box-shadow: 0.075em 0 0 transparentize($ink, .8);
    right: -3px;
    top: 0;
    z-index: -1;
  }

  &:nth-child(1)::after {
    box-shadow: -0.075em 0 0 transparentize($ink, .8);
    left: -5px;
    top: -1px;
    z-index: -2;
  }

  &:nth-child(2)::after {
    box-shadow: 0.075em 0 0 transparentize($ink, .8);
    right: -5px;
    top: -1px;
    z-index: -2;
  }
}

.design--language-list {
  list-style: none;
  padding: 0;
  columns: 3;
}

.design__book-title,
.design__book-byline {
  font-variation-settings: var(--font-weight--medium);
  text-align: center;
}

.design__book-title {
  font-size: calc(var(--font-size--page) * 1.2);
  margin-bottom: var(--spacing--small);
  text-transform: uppercase;
}

.design__book-byline {
  font-style: italic;
}

.design__book-chapter {
  font-size: calc(var(--font-size--page) * 1.075);
  font-variation-settings: var(--font-weight--semi-bold);
  margin-top: var(--spacing--medium);
  text-align: center;
}

.design__book-grafs {
  font-size: calc(var(--font-size--page) / 1.3);
  margin-top: var(--spacing--base);
  text-align: justify;

  @media (min-width: $screen--medium) {
    columns: 2;
  }
}
