.epilogue {
  background-color: $section-background--intro;
}

.epilogue__container {
  align-items: center;
  color: $font-color--light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--spacing--medium) var(--spacing--base);
}

.epilogue__title {
  align-self: center;
  font-size: 2em;
  font-style: italic;
  font-variation-settings: var(--font-weight--extra-light);
  margin: var(--spacing--medium) 0;
}

.epilogue__book {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 30rem;

  @media (min-width: $screen--medium) {
    width: 25rem;
    height: 40rem;
  }
}

.epilogue__heading,
.epilogue__book-copy {
  text-align: right;
}

.epilogue-face__back {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
