.example {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 80vw;
  padding: var(--spacing--base);
  position: relative;
}

.example__body {
  padding: var(--spacing--base) 0;
}

.example__title {
  display: block;
  font-variation-settings: var(--font-weight--bold);
  letter-spacing: var(--letter-spacing--base);
  margin-top: var(--spacing--base);
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}
