.example {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--spacing--base);
  position: relative;
  width: 100%;

  @media (min-width: $screen--medium) {
    flex-direction: row;
  }
}

.example__navigation {
  padding: var(--spacing--base) 0;
  width: 2rem;

  &:nth-child(1)::after {
    content: "Prev";
    display: block;
    font-size: 1em;
    font-style: italic;
    font-variation-settings: var(--font-weight--light);
    margin: var(--spacing--small) 0;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
  }

  &:nth-child(3)::after {
    content: "Next";
    display: block;
    font-size: 1em;
    font-style: italic;
    font-variation-settings: var(--font-weight--light);
    margin: var(--spacing--small) 0;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
  }
}

.example__body {
  padding: var(--spacing--base) 0;

  @media (min-width: $screen--medium) {
    padding: var(--spacing--medium) 0;
  }

  @media (min-width: $screen--large) {
    padding: var(--spacing--large) 0;
  }
}

.example__title {
  display: block;
  font-variation-settings: var(--font-weight--bold);
  letter-spacing: var(--letter-spacing--base);
  margin-top: var(--spacing--base);
  text-align: right;
  text-transform: uppercase;
}
