.dictionary {
  background-color: $accent-pale-blue;
  border-radius: 7px;
  margin: 0 auto;

  @include breakpoint(large_up) {
    background-color: transparent;
    background-image: url('../../images/graphics/example-dictionary.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 376px;
    max-width: 650px;
  }
}

.dictionary__entry {
  border: $border;
  margin: 0 auto;
  max-width: 550px;
  padding: $space--large $space--large $space--base;

  @include breakpoint(medium_up) {
    border: none;
  }
}

.dictionary__definitions {
  font-size: 1rem;
  padding-left: $space--base;
}
