---
title: Crimson Pro
---

<section class="page-section intro u-background-black">
  <div class="container">
    <div class="intro__slider">
      <input class="slider slider__weight" type="range" name="weight-slider" min="200" max="900">
    </div>

    <div class="intro__book">
      <h1 class="intro__heading">Crimson Pro</h1>
      <span class="intro__number-weight">300</span>

      <h2 class="intro__subheading">is a variable font</h2>
      <p class="intro__copy">for book and digital production in the tradition
      of beautiful oldstyle typefaces.</p>
      <p class="intro__copy">Contemporary and classic, Crimson Pro comes in
      eight pre-defined weights from Extra light to Black, in Roman and Italic.</p>
    </div>
  </div>
</section>

<section class="page-section design u-background-pale-dusk">
  <div class="container">
    <div class="page-section__meta-header">
      <p>Google</p>
      <p>Crimson Pro</p>
    </div>

    <div class="page-section__wrapper">
      <h2 class="design__heading">The Benefits of Crimson Pro & Variable
      Fonts</h2>

      <h3 class="design__subheading">Variable Font</h3>
      <p class="design__callout">Instead of multiple font files (one for Bold, one for Medium, another for Light), with Crimson Pro, you get one compressed font file that contains <em>all</em> weights.</p>

      <hr />

      <p class="design__copy">While Crimson Pro currently only has a variable Weight (wght), a variable font can also allow for changing other properties, such as Optical size (opsz), Slant (slnt), Width (wdth), and Italic (ital).</p>

      <p class="design__copy"><strong>What does this mean?</strong></p>

      <p class="design__copy">One font file means better performance and fast
      loading times.</p>

      <div class="page-section__meta-footer">
        <p>pg. 1</p>
      </div>
    </div>

    <hr />

    <div class="page-section__wrapper">
      <h2 class="design__heading u-heading-color--red">Compression</h2>
      <div class="design__section">
        <p class="design__section-title">Crimson Text</p>
        <span class="design__number-compression">100kb</span>
      </div>

      <div class="design__section">
        <p class="design__section-title">Crimson Pro</p>
        <span class="design__number-compression">100kb</span>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 2</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section design u-background-pale-dusk">
  <div class="container">
    <div class="page-section__meta-header">
      <p>Google</p>
      <p>Crimson Pro</p>
    </div>
    
    <div class="page-section__wrapper">
      <h2 class="design__heading">Exploring the Design of Crimson Pro</h2>

      <h3 class="design__subheading">Design</h3>

      <div class="design__example">
        <p class="design__example-heading">Cap height</p>
        <span class="design__example-text">Reading</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading">Counter</p>
        <span class="design__example-text">on</span>
      </div>

      <p class="design__copy">Crimson Pro is best for reading. Its cap height enables better proportions and less visual noise in text for easier reading.</p>

      <p class="design__copy">Large counters and apertures make it easy to distinguish characters at smaller sizes.</p>

      <div class="page-section__meta-footer">
        <p>pg. 3</p>
      </div>
    </div>

    <hr />

    <div class="page-section__wrapper">
      <h3 class="design__subheading">Axis</h3>
      <span class="design__number-weight">300</span>

      <div class="design__slider">
        <input class="slider slider__weight" type="range" name="weight-slider" min="200" max="900">
      </div>

      <p class="design__copy u-margin-top">Weight axis TKTK, names intaces TKTK With unlimited options, you can tweak a font so it fits your design as intended.</p>

      <div class="page-section__meta-footer">
        <p>pg. 4</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section design u-background-pale-dusk">
  <div class="container">
    <div class="page-section__meta-header">
      <p>Google</p>
      <p>Crimson Pro</p>
    </div>
    
    <div class="page-section__wrapper">
      <h2 class="design__heading u-heading-color--red">Roman Samples</h2>

      <div class="design__slider">
        <input class="slider slider__weight" type="range" name="weight-slider" min="200" max="900">
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Uppercase Roman</p>

        <span class="design__example-characters">ABCDEFGH</span>
        <span class="design__example-characters">ABCDEFGHIJKLM</span>
        <span class="design__example-characters">ABCDEFGHIJKLMNO</span>
        <span class="design__example-characters">ABCDEFGHIJKLMNOPQR</span>
        <span class="design__example-characters">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Lowercase Roman</p>

        <span class="design__example-characters">abcdefgh</span>
        <span class="design__example-characters">abcdefghijklm</span>
        <span class="design__example-characters">abcdefghijklmno</span>
        <span class="design__example-characters">abcdefghijklmnopqr</span>
        <span class="design__example-characters">abcdefghijklmnopqrstuvwxyz</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Numerals Roman</p>

        <span class="design__example-characters">0123456789½¼¾</span>
        <span class="design__example-characters">0123456789½¼¾₀₁₂</span>
        <span class="design__example-characters">0123456789½¼¾₀₁₂₃₄₅₆₇₈₉⁰¹²³⁴⁵⁶⁷⁸⁹</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Characters Roman</p>

        <span class="design__example-characters">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){</span>
        <span class="design__example-characters">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){}[]√µ∂</span>
        <span class="design__example-characters">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){}[]√µ∂%‰◊☙❧</span>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 5</p>
      </div>
    </div>

    <hr />

    <div class="page-section__wrapper">
      <h2 class="design__heading u-heading-color--red u-text--italic">Italic Samples</h2>

      <div class="design__slider">
        <input class="slider slider__weight" type="range" name="weight-slider" min="200" max="900">
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Uppercase Italic</p>

        <span class="design__example-characters u-text--italic">ABCDEFGH</span>
        <span class="design__example-characters u-text--italic">ABCDEFGHIJKLM</span>
        <span class="design__example-characters u-text--italic">ABCDEFGHIJKLMNO</span>
        <span class="design__example-characters u-text--italic">ABCDEFGHIJKLMNOPQR</span>
        <span class="design__example-characters u-text--italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Lowercase Italic</p>

        <span class="design__example-characters u-text--italic">abcdefgh</span>
        <span class="design__example-characters u-text--italic">abcdefghijklm</span>
        <span class="design__example-characters u-text--italic">abcdefghijklmno</span>
        <span class="design__example-characters u-text--italic">abcdefghijklmnopqr</span>
        <span class="design__example-characters u-text--italic">abcdefghijklmnopqrstuvwxyz</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Numerals Italic</p>

        <span class="design__example-characters u-text--italic">0123456789½¼¾</span>
        <span class="design__example-characters u-text--italic">0123456789½¼¾₀₁₂</span>
        <span class="design__example-characters u-text--italic">0123456789½¼¾₀₁₂₃₄₅₆₇₈₉⁰¹²³⁴⁵⁶⁷⁸⁹</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Characters Italic</p>

        <span class="design__example-characters u-text--italic">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){</span>
        <span class="design__example-characters u-text--italic">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){}[]√µ∂</span>
        <span class="design__example-characters u-text--italic">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){}[]√µ∂%‰◊☙❧</span>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 6</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section language-support u-background-pale-blue">
  <div class="container">
    <div class="page-section__meta-header">
      <p>Google</p>
      <p>Crimson Pro</p>
    </div>

    <div class="page-section__wrapper">
      <h2 class="design__heading">Looking to use Crimson Pro in your language?</h2>

      <h3 class="design__subheading">Language support</h3>
      <p class="design__copy">Crimson Pro comes with support for the following
      languages:</p>

      <ul class="design__copy">
        <li>Afrikaans</li>
        <li>Albanian</li>
        <li>Catalan</li>
        <li>Croatian</li>
        <li>Czech</li>
        <li>Danish</li>
        <li>Dutch</li>
        <li>English</li>
        <li>Estonian</li>
        <li>Finnish</li>
        <li>French</li>
        <li>German</li>
        <li>Hungarian</li>
        <li>Icelandic</li>
        <li>Italian</li>
        <li>Latvian</li>
        <li>Lithuanian</li>
        <li>Maltese</li>
        <li>Norwegian</li>
        <li>Polish</li>
        <li>Portugese</li>
        <li>Romanian</li>
        <li>Slovak</li>
        <li>Slovenian</li>
        <li>Spanish</li>
        <li>Swedish</li>
        <li>Turkish</li>
        <li>Vietnamese</li>
        <li>Zulu</li>
      </ul>

      <div class="page-section__meta-footer">
        <p>pg. 7</p>
      </div>
    </div>

    <hr />

    <div class="page-section__wrapper">
      <h2 class="design__heading">View</h2>

      <div class="language-suppport__sample">
        <span>Lewis Carrol</span>
        <h3>Alice’s Adventures in Wonderland</h3>
        <span>Chapter II: The Pool of Tears</span>


        <p>For the Mouse was swimming away from her as hard as it could go, and
        making quite a commotion in the pool as it went.</p>

        <p>So she called softly after it, ‘Mouse dear! Do come back again, and
        we won’t talk about cats or dogs either, if you don’t like them!’ When
        the Mouse heard this, it turned round and swam slowly back to her: its
        face was quite pale (with passion, Alice thought), and it said in a low
        trembling voice, ‘Let us get to the shore, and then I’ll tell you my
        history, and you’ll understand why it is I hate cats and dogs.’</p>

        <p>It was high time to go, for the pool was getting quite crowded with
        the birds and animals that had fallen into it: there were a Duck and a
        Dodo, a Lory and an Eaglet, and several other curious creatures. Alice
        led the way, and the whole party swam to the shore.</p>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 8</p>
      </div>
    </div>
  </div>
</section>
