---
title: Crimson Pro
---

<section class="page-section intro u-background-black">
  <div class="container">
    <div class="intro__slider">
      <input class="slider slider__weight" type="range" name="weight-slider" min="200" max="900">
    </div>

    <div class="intro__book">
      <h1 class="intro__heading">Crimson Pro</h1>
      <span class="intro__number-weight">300</span>

      <h2 class="intro__subheading">is a variable font</h2>
      <p class="intro__copy">for book and digital production in the tradition
      of beautiful oldstyle typefaces.</p>
      <p class="intro__copy">Contemporary and classic, Crimson Pro comes in
      eight pre-defined weights from Extra light to Black, in Roman and Italic.</p>
    </div>
  </div>
</section>

<section class="page-section design u-background-pale-dusk">
  <div class="container">
    <div class="page-section__meta-header">
      <p>Google</p>
      <p>Crimson Pro</p>
    </div>

    <div class="page-section__wrapper">
      <h2 class="design__heading">The Benefits of Crimson Pro & Variable
      Fonts</h2>

      <h3 class="design__subheading">Variable Font</h3>
      <p class="design__callout">Instead of multiple font files (one for Bold, one for Medium, another for Light), with Crimson Pro, you get one compressed font file that contains <em>all</em> weights.</p>

      <hr />

      <p class="design__copy">While Crimson Pro currently only has a variable Weight (wght), a variable font can also allow for changing other properties, such as Optical size (opsz), Slant (slnt), Width (wdth), and Italic (ital).</p>

      <p class="design__copy"><strong>What does this mean?</strong></p>

      <p class="design__copy">One font file means better performance and fast
      loading times.</p>

      <div class="page-section__meta-footer">
        <p>pg. 1</p>
      </div>
    </div>

    <hr />

    <div class="page-section__wrapper">
      <h2 class="design__heading u-heading-color--red">Compression</h2>
      <div class="design__section">
        <p class="design__section-title">Crimson Text</p>
        <span class="design__number-compression">100kb</span>
      </div>

      <div class="design__section">
        <p class="design__section-title">Crimson Pro</p>
        <span class="design__number-compression">100kb</span>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 2</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section design u-background-pale-dusk">
  <div class="container">
    <div class="page-section__meta-header">
      <p>Google</p>
      <p>Crimson Pro</p>
    </div>

    <div class="page-section__wrapper">
      <h2 class="design__heading">Exploring the Design of Crimson Pro</h2>

      <h3 class="design__subheading">Design</h3>

      <div class="design__example">
        <p class="design__example-heading">Cap height</p>
        <span class="design__example-text">Reading</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading">Counter</p>
        <span class="design__example-text">on</span>
      </div>

      <p class="design__copy">Crimson Pro is best for reading. Its cap height enables better proportions and less visual noise in text for easier reading.</p>

      <p class="design__copy">Large counters and apertures make it easy to distinguish characters at smaller sizes.</p>

      <div class="page-section__meta-footer">
        <p>pg. 3</p>
      </div>
    </div>

    <hr />

    <div class="page-section__wrapper">
      <h3 class="design__subheading">Axis</h3>
      <span class="design__number-weight">300</span>

      <div class="design__slider">
        <input class="slider slider__weight" type="range" name="weight-slider" min="200" max="900">
      </div>

      <p class="design__copy u-margin-top">Weight axis TKTK, names intaces TKTK With unlimited options, you can tweak a font so it fits your design as intended.</p>

      <div class="page-section__meta-footer">
        <p>pg. 4</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section design u-background-pale-dusk">
  <div class="container">
    <div class="page-section__meta-header">
      <p>Google</p>
      <p>Crimson Pro</p>
    </div>

    <div class="page-section__wrapper">
      <h2 class="design__heading u-heading-color--red">Roman Samples</h2>

      <div class="design__slider">
        <input class="slider slider__weight" type="range" name="weight-slider" min="200" max="900">
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Uppercase Roman</p>

        <span class="design__example-characters">ABCDEFGH</span>
        <span class="design__example-characters">ABCDEFGHIJKLM</span>
        <span class="design__example-characters">ABCDEFGHIJKLMNO</span>
        <span class="design__example-characters">ABCDEFGHIJKLMNOPQR</span>
        <span class="design__example-characters">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Lowercase Roman</p>

        <span class="design__example-characters">abcdefgh</span>
        <span class="design__example-characters">abcdefghijklm</span>
        <span class="design__example-characters">abcdefghijklmno</span>
        <span class="design__example-characters">abcdefghijklmnopqr</span>
        <span class="design__example-characters">abcdefghijklmnopqrstuvwxyz</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Numerals Roman</p>

        <span class="design__example-characters">0123456789½¼¾</span>
        <span class="design__example-characters">0123456789½¼¾₀₁₂</span>
        <span class="design__example-characters">0123456789½¼¾₀₁₂₃₄₅₆₇₈₉⁰¹²³⁴⁵⁶⁷⁸⁹</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Characters Roman</p>

        <span class="design__example-characters">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){</span>
        <span class="design__example-characters">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){}[]√µ∂</span>
        <span class="design__example-characters">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){}[]√µ∂%‰◊☙❧</span>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 5</p>
      </div>
    </div>

    <hr />

    <div class="page-section__wrapper">
      <h2 class="design__heading u-heading-color--red u-text--italic">Italic Samples</h2>

      <div class="design__slider">
        <input class="slider slider__weight" type="range" name="weight-slider" min="200" max="900">
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Uppercase Italic</p>

        <span class="design__example-characters u-text--italic">ABCDEFGH</span>
        <span class="design__example-characters u-text--italic">ABCDEFGHIJKLM</span>
        <span class="design__example-characters u-text--italic">ABCDEFGHIJKLMNO</span>
        <span class="design__example-characters u-text--italic">ABCDEFGHIJKLMNOPQR</span>
        <span class="design__example-characters u-text--italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Lowercase Italic</p>

        <span class="design__example-characters u-text--italic">abcdefgh</span>
        <span class="design__example-characters u-text--italic">abcdefghijklm</span>
        <span class="design__example-characters u-text--italic">abcdefghijklmno</span>
        <span class="design__example-characters u-text--italic">abcdefghijklmnopqr</span>
        <span class="design__example-characters u-text--italic">abcdefghijklmnopqrstuvwxyz</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Numerals Italic</p>

        <span class="design__example-characters u-text--italic">0123456789½¼¾</span>
        <span class="design__example-characters u-text--italic">0123456789½¼¾₀₁₂</span>
        <span class="design__example-characters u-text--italic">0123456789½¼¾₀₁₂₃₄₅₆₇₈₉⁰¹²³⁴⁵⁶⁷⁸⁹</span>
      </div>

      <div class="design__example">
        <p class="design__example-heading u-text--center">Characters Italic</p>

        <span class="design__example-characters u-text--italic">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){</span>
        <span class="design__example-characters u-text--italic">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){}[]√µ∂</span>
        <span class="design__example-characters u-text--italic">ΔΣΩμπ.,:;…!¡?¿·•*#/\(){}[]√µ∂%‰◊☙❧</span>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 6</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section language-support u-background-pale-blue">
  <div class="container">
    <div class="page-section__meta-header">
      <p>Google</p>
      <p>Crimson Pro</p>
    </div>

    <div class="page-section__wrapper">
      <h2 class="language-support__heading">Looking to use Crimson Pro in your language?</h2>

      <h3 class="language-support__subheading">Language support</h3>
      <p class="language-support__copy">Crimson Pro comes with support for the following
      languages:</p>

      <div class="language-support__languages">
        <ul class="language-support__list">
          <li>Afrikaans</li>
          <li>Albanian</li>
          <li>Catalan</li>
          <li>Croatian</li>
          <li>Czech</li>
          <li>Danish</li>
          <li>Dutch</li>
          <li>English</li>
          <li>Estonian</li>
          <li>Finnish</li>
        </ul>

        <ul class="language-support__list">
          <li>French</li>
          <li>German</li>
          <li>Hungarian</li>
          <li>Icelandic</li>
          <li>Italian</li>
          <li>Latvian</li>
          <li>Lithuanian</li>
          <li>Maltese</li>
          <li>Norwegian</li>
          <li>Polish</li>
        </ul>

        <ul class="language-support__list">
          <li>Portugese</li>
          <li>Romanian</li>
          <li>Slovak</li>
          <li>Slovenian</li>
          <li>Spanish</li>
          <li>Swedish</li>
          <li>Turkish</li>
          <li>Vietnamese</li>
          <li>Zulu</li>
        </ul>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 7</p>
      </div>
    </div>

    <hr />

    <div class="page-section__wrapper">
      <h3 class="language-support__subheading u-text--center">View</h3>

      <div class="language-suppport__book">
        <span class="language-suppport__book-author u-text--center">Lewis Carrol</span>
        <span class="language-suppport__book-title u-text--center">Alice’s Adventures in Wonderland</span>
        <span class="language-suppport__book-chapter u-text--center">Chapter II: The Pool of Tears</span>


        <p class="language-suppport__book-copy">For the Mouse was swimming away from her as hard as it could go, and
        making quite a commotion in the pool as it went.</p>

        <p class="language-suppport__book-copy">So she called softly after it, ‘Mouse dear! Do come back again, and
        we won’t talk about cats or dogs either, if you don’t like them!’ When
        the Mouse heard this, it turned round and swam slowly back to her: its
        face was quite pale (with passion, Alice thought), and it said in a low
        trembling voice, ‘Let us get to the shore, and then I’ll tell you my
        history, and you’ll understand why it is I hate cats and dogs.’</p>

        <p class="language-suppport__book-copy">It was high time to go, for the pool was getting quite crowded with
        the birds and animals that had fallen into it: there were a Duck and a
        Dodo, a Lory and an Eaglet, and several other curious creatures. Alice
        led the way, and the whole party swam to the shore.</p>
      </div>

      <div class="page-section__meta-footer">
        <p>pg. 8</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section example u-background-paper-blue">
  <div class="container">
    <div class="example__dictionary">
      <h3 class="example__dictionary-heading">
        <span class="u-text--weight-black">write</span> (ˈrīt)
      </h3>
      <p class="example__dictionary-entry">
        <em>v.</em>&nbsp;&nbsp;&nbsp;<strong class="u-text--weight-semibold">1.</strong> to form (characters, symbols, etc.) on a surface with an instrument (such as a
        pen).&nbsp;&nbsp;&nbsp;<strong class="u-text--weight-semibold">2.</strong> to set down in
        writing.&nbsp;&nbsp;&nbsp;<strong class="u-text--weight-semibold">3.</strong> to make a permanent
        impression of.&nbsp;&nbsp;&nbsp;<strong class="u-text--weight-semibold">4.</strong> to communicate with
        in writing.
      </p>
    </div>

    <span class="example__title">Dictionary</span>

    <div class="example__navigation">
      <p class="example__next">next</p>
    </div>
  </div>
</section>

<section class="page-section example u-background-white">
  <div class="container">
    <div class="example__navigation">
      <p class="example__prev">prev</p>
    </div>

    <div class="example__newspaper">
      <span class="example__newspaper-heading">The Crimson Daily</span>
      <p class="example__newspaper-copy">newspaper copy</p>
      <p class="example__newspaper-copy">newspaper copy</p>
      <p class="example__newspaper-copy">newspaper copy</p>
      <p class="example__newspaper-copy">newspaper copy</p>

      <span class="example__title">Newspaper</span>
    </div>

    <div class="example__navigation">
      <p class="example__next">next</p>
    </div>
  </div>
</section>

<section class="page-section example u-background-paper-peach">
  <div class="container">
    <div class="example__navigation">
      <p class="example__prev">prev</p>
    </div>

    <div class="example__biology">
      <img src="images/example-bio-petri.png" alt="Illustration of a hand,
      holding a petri dish">
      <div class="example__biology-fig">
        <p>Fig. 19"'.</p>
        <img src="images/example-bio-fig01.png">
        <span>1</span><span>2</span><span>3</span>
      </div>

      <div class="example__biology-fig">
        <p>Fig. 19.</p>
        <span>a</span>
        <img src="images/example-bio-fig02.png">
      </div>

      <div class="example__biology-fig">
        <p>Fig. 19".</p>
        <img src="images/example-bio-fig03.png">
        <span>1</span><span>2</span><span>3</span>
      </div>

      <div class="example__biology-fig">
        <p>Fig. 19.</p>
        <img src="images/example-bio-fig04.png">
      </div>

      <div class="example__biology-fig">
        <p>Fig. 20.</p>
        <img src="images/example-bio-fig05.png">
        <span>a</span><span>b</span>
      </div>

      <div class="example__biology-fig">
        <p>Fig. 20"".</p>
        <img src="images/example-bio-fig06.png">
      </div>

      <div class="example__biology-fig">
        <p>Fig. 20"".</p>
        <img src="images/example-bio-fig07.png">
      </div>

      <div class="example__biology-fig">
        <p>Fig. 19'.</p>
        <img src="images/example-bio-fig08.png">
      </div>

      <div class="example__biology-fig">
        <p>Fig. 20"".</p>
        <img src="images/example-bio-fig09.png">
      </div>

      <div class="example__biology-fig">
        <p>Fig. 19".</p>
        <img src="images/example-bio-fig10.png">
      </div>

      <span class="example__title">Biology Lab</span>
    </div>

    <div class="example__navigation">
      <p class="example__next">next</p>
    </div>
  </div>
</section>

<section class="page-section example u-background-paper-yellow">
  <div class="container">
    <div class="example__navigation">
      <p class="example__prev">prev</p>
    </div>

    <div class="example__manuscript">
      <div class="example__manuscript-selection">
        <h2 class="example__manuscript-heading">Write a <span class="example__manuscript-emphasis">book</span></h2>
        <p class="example__manuscript-prompt">About a dog and her ball, who get stuck in a mystical vortex full of daemons and panthers.</p>
        <span class="example__manuscript-newprompt">Give me a new prompt</span>
      </div>

      <div class="example__manuscript-sample">
        <h3 class="example__manuscript-sample-heading">Overview</h3>
        <p>This is a book about a dog and her ball, who get stuck in a mystical vortex full of daemons and panthers.</p>

        <h3 class="example__manuscript-sample-heading">Characters</h3>
        <p><strong>Doc:</strong> Spunky, pixie dream girl. Loves to bark orders.</p>
        <p><strong>Ballerina:</strong> Born a basketball, dreams of becoming a wrecking ball.</p>

        <h3 class="example__manuscript-sample-heading">Chapter One</h3>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
      </div>

      <div class="example__manuscript-message">
        <button>play</button>
        <p>1 new message from agent</p>
      </div>

      <span class="example__title">Manuscript</span>
    </div>

    <div class="example__navigation">
      <p class="example__next">next</p>
    </div>
  </div>
</section>

<section class="page-section example u-background-paper-purple">
  <div class="container">
    <div class="example__prev">
      <p>prev</p>
    </div>

    <div class="example__playground">
      <div class="example__playground-selection">
        <h2>Welcome to the Playground. Set up your environment.</h2>
        <select id="example__playground-texture">
          <option value="">Choose a Texture</option>
          <option value="texture01">Texture 01</option>
          <option value="texture02">Texture 02</option>
        </select>

        <span>&</span>

        <select id="example__playground-color">
          <option value="">Choose a Color</option>
          <option value="color01">Color 01</option>
          <option value="color02">Color 02</option>
        </select>

        <span>&</span>

        <select id="example__playground-scene">
          <option value="">Choose a Scene</option>
          <option value="scene01">Scene 01</option>
          <option value="scene02">Scene 02</option>
        </select>
      </div>

      <canvas class="example__playground-sample">
        stuff for the playground goes hereeee!!!
      </canvas>

      <span class="example__title">Playground</span>
    </div>
  </div>
</section>

<section class="page-section acknowledgements u-background-white">
  <div class="container">
    <div class="acknowledgements__section">
      <h2>Acknowledgements</h2>
      <h3>Jacques Le Bailley</h3>

      <p>Jacques is a senior type designer, living in The Hague.</p>
      <p>He started his own foundry Baron von Fonthausen in 2009, and has been dedicated to type design ever since.</p>
      <p>After graduating from the KABK and an apprenticeship at Linotype GmBH, he worked in Berlin and The Hague as Graphic Designer for several years, and then for many years at one of the most prestigious Dutch foundries, The Enschedé Type Foundry.</p>
      <p>He has also been a tutor at the WdKA art academy of Rotterdam and St.Joost art academy of Den Bosch.</p>
      <p>He mixes personal type projects with contract work for foundries like Monotype, Bold Monday and Google, and every now and then he does custom projects for several branding agencies.</p>
      <span>image of Jacques geos here</span>
    </div>

    <div class="acknowledgements__section">
      <h3>Sebastian Kosch</h3>

      <p>Sebastian is a software engineer and researcher with a weakness for good typography. He currently lives in Toronto.</p>
      <p>On background, I sketched the first version of Crimson in 2009, before Google Fonts launched. I was a freshman engineering student at the time, and drawing letters was more fun than studying for my calculus exams.</p>
      <span>image of Sebastian geos here</span>
    </div>
  </div>
</section>

<section class="page-section intro u-background-black">
  <div class="container">
    <div class="intro__book">
      <h2 class="intro__heading">Fin</h2>

      <p class="intro__copy">Additional Credits</p>
      <p class="intro__copy">Google: Dave Crossland, Irin Kim, & Paula Ashton.</p>
      <p class="intro__copy">Type specimen site design & code: Amélie Lamont</p>
    </div>
  </div>
</section>
