html {
  background-color: var(--background-color--viewport);
  box-sizing: border-box;
}

*,
*::before,hello
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding-bottom: 50px;
}
