// Colors
$ink: #222222;
$gray: #c4c4c4;
$paper-almond: #f2d9c6;
$paper-antique: #f8e9d3;
$paper-mabel: #c6f2f2;
$paper-melrose: #c3bae3;
$paper-sidecar: #f4e7bd;
$paper-water: #cbd5db;
$paper: #ffffff;

// Background Colors
$background-color--dark: $ink;
$background-color--light: $paper;
$background-color--viewport: $paper;

// Font Colors
$font-color--base: $ink;
$font-color--light: $paper;

// Input Range
// $input-range--box-shadow: ;
$input-range--thumb-background: $paper;
$input-range--thumb-height: 35px;
$input-range--thumb-width: 10px;
$input-range--track-background: $ink;
$input-range--track-height: 2px;
$input-range--track-width: 2px;

// Other Sizes
$font-width--min: 18px;
$font-width--max: 19px;
$screen-width--min: 320px;
$screen-width--max: 1200px;

// Screen Sizes
$screen--medium: 38.75rem;
$screen--large: 1135px;

// Section Backgrounds
$section-background--biology: $paper-antique;
$section-background--design: $paper-almond;
$section-background--dictionary: $paper-water;
$section-background--intro: $ink;
$section-background--language-support: $paper-mabel;
$section-background--manuscript: $paper-sidecar;
$section-background--newspaper: $paper;
$section-background--playground: $paper-melrose;

/* Base Variables for Site Root
-------------------------------*/
:root {
  // Typography
  --font-family: "Crimson Pro", serif;

  // Font Weights
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;

  // Font Sizes
  --font-size--page: 1.1rem;

  // Letter Spacing
  --letter-spacing--base: .05rem;

  // Line Heights
  --line-height: 1.5;
  --line-height--heading: 1.2;

  // Borders
  --border-width: 1px;
  --border: var(--border-width) solid currentColor;
  --border-radius: 100%;

  // Spacing
  --spacing--base: 1rem;
  --spacing--small: 0.5rem;
  --spacing--medium: 2rem;
  --spacing--large: 4rem;
}
